<div class="text-field">
  <%= form.label :email, class: "form" %>
  <%= form.email_field :email, class: "input" %>
</div>

<div class="password-field">
  <%= form.label :password, class: "form" %>
  <%= form.password_field :password, class: "input" %>
</div>
