@import "bootstrap-sprockets";
@import "bootstrap";

.margin-vertical-none {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
  background-color: white;
  border-color: white;
  height: 12vh;
}

.container {
  width: 100vw;
}

body {
  background-image: url(image_path("ORFF0J0.jpg"));
  background-size: 100vw;
}

.navbar-brand {
  font-family: 'Dangrek', cursive;
  font-size: 40px;
  color: black !important;
  margin-top: 16px;
}

.sign-in-button {
  font-size: 18px;
  color: black !important;
  margin-top: 16px;
}

.sign-up-button {
  font-size: 18px;
  color: black !important;
  margin-top: 16px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.welcome-sign {
  background-color: white;

  .special-welcome {
    font-family: 'Dangrek', cursive;
    font-size: 70px;
  }
  width: max-content;
  height: 185px;
  position: absolute;
  top: 40%;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  width: 30%;
  min-width: 300px;
}