@import "bootstrap-sprockets";
@import "bootstrap";

.margin-vertical-none {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
  background-color: white;
  border-color: white;
  height: 12vh;
}

.container {
  width: 100vw;
}

body {
  background-color: white;
  background-size: 100vw;
}

.navbar-brand {
  font-family: 'Dangrek', cursive;
  font-size: 40px;
  color: black !important;
  margin-top: 16px;
}

.dashboard-button {
  font-size: 18px;
  color: black !important;
  margin-top: 16px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-family: 'Dangrek', cursive;
    font-size: 40px;
    padding-left: 22px;
  }
}

.welcome-sign {
  background-color: white;

  .special-welcome {
    font-family: 'Dangrek', cursive;
    font-size: 70px;
  }
  width: max-content;
  height: 185px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#clearance {
  font-family: 'Dangrek', cursive;
  font-size: 40px;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 20px;
}

.sign-in-box {
  background-color: white;
  background-size: 100px, 150px !important;
}

.sign-up-box {
  background-color: white;
  background-size: 100px, 150px !important;
}

h2 {
  padding-left: 22px;
}

h3 {
  padding-left: 22px;
}

h4 {
  font-size: 40px;
}

.new-meal-plan-link {
  padding-left: 22px;
}

.recipe-description {
  padding-left: 22px;
}

.form {
  overflow: hidden;
  padding-right: 14px;
}

.input {
  float: right;
  clear: both;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe {
  width: 30%;
  min-width: 300px;
}